<% include ../partials/header %>
<div class="container">
        <div>
            <h1 style="text-align:center;">Add member to <%= task.title %></h1>
            <div style="width:30%;margin:30px auto;">

<form action="/tasks/<%= task._id %>/teams/new" method="POST">
    <div class="form-group">
        <input class="form-control" type="text" name="team[member]" placeholder="member">    
    </div>
    <div class="form-group">
        <input class="form-control" type="text" name="team[assignment]" placeholder="assignment">    
    </div>
    <div class="form-group">
        <button class="btn btn-sm btn-primary">SUBMIT</button>    
    </div>
</form>

<a href="/tasks">View all tasks</a>
</div>
</div>
</div>
<% include ../partials/footer %>